{%extends 'base.html' %}
{% load staticfiles %}

{% block content %}	

        <div class="post post-detail">
       			<h2 class="post-title">{{post.title}}</h2>
       			<p>by {{post.author}} on {{post.published_date}}</p>
				<div class="post-body">{{post.text|safe}}</div>
                {% if post.tags != None %}
                <div class="post-tags"><a href="{% url 'tag_filter' tage=post.tags %}">{{post.tags}}</a></div>
                {%endif%}
                {% if user.is_authenticated %}
                     <a style="float:right" class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
        </div>

<!--disqus-->
<!-- # load the tags
{% load disqus_tags %}
# get comments for your website
{% disqus_show_comments "localhost-oudlolbslq" %}
# get the url for the current object to get the right comments
{% set_disqus_url object.get_absolute_url %} -->
<!-- 
<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
// PAGE_URL = {{ request.build_absolute_uri }}
var disqus_config = function () {
    this.page.url = {{ request.build_absolute_uri }};  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//localhost-oudlolbslq.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 -->


<div class="fb-comments" data-href="http://127.0.0.1:8000/" data-numposts="5"></div>

<!--/disqus-->

{% endblock %}